@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

:root {
  --primary-color: #77b487;
  --primary-color-darker: #197c34;
  --text-black: #15191d;
  --text-gray: #737373;
  --text-light: #d3d3d3;
  --text-white: #ffffff;
  /* --max-width: 1200px; */
  --additional-font: "Aldrich", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  color: var(--primary-color-darker);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #a5a5a5;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

header {
  position: relative;
  background-image: url("./img/header-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 5;
}

input {
  font-family: "Lexend Deca", sans-serif;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--text-dark);
  background-color: var(--primary-color);
}

/*! HEADER + NAV  */
.nav__main {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.7rem;
  font-weight: 900;
  color: var(--text-white);
  font-family: var(--additional-font);
  letter-spacing: -1px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-white);
}

.nav__links a:hover {
  color: var(--text-black);
}

.nav__btn {
  display: none;
}

.header__container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 1rem;
}

.header__container h1 {
  max-width: 750px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 900;
  color: var(--text-black);
  letter-spacing: 3px;
  line-height: 6rem;
  text-align: center;
}

.header__container form {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--text-white);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.header__container .input__group {
  flex: 1 0 200px;
  display: grid;
  gap: 10px;
}

.header__container label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-black);
}

.header__container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.3rem;
  border-bottom: 2px solid black;
}

.header__container input::placeholder {
  color: var(--text-gray);
}

.header__container .btn {
  padding: 15px;
  font-size: 1.5rem;
}

.header__container img {
  max-width: 700px;
  margin-inline: auto;
  filter: drop-shadow(5px 20px 20px rgba(0, 0, 0, 0.5));
}

.header__container::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 50%;
  background-color: var(--primary-color);
  transform: translateY(50%) skewY(-5deg);
  z-index: -1;
}

.scroll__down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 1.5rem;
  padding: 8px 5px;
  color: var(--text-black);
  background-color: var(--primary-color);
  border-radius: 2rem;
  border: 8px solid var(--text-white);
}

/*! SECTION */

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-black);
  line-height: 4.5rem;
}

.range__container .section__header {
  max-width: 700px;
  margin-inline: auto;
  margin-bottom: 4rem;
  text-align: center;
}

.range__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  cursor: pointer;
}

.range__card {
  position: relative;
  isolation: isolate;
  max-width: 600px;
  margin-inline: auto;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.range__card img {
  transition: 0.3s;
}

.range__card:hover img {
  transform: scale(1.1);
}

.range__card__info {
  position: absolute;
  inset: 0;
  padding: 2rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.75)
  );
}

.range__card__info h4 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--text-white);
  font-family: var(--additional-font);
}

.range__card__info a {
  display: inline-block;
  padding: 0px 4px;
  font-size: 2rem;
  color: var(--text-white);
  border: 2px solid var(--text-white);
  border-radius: 100%;
}

.range__card__info a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/*! LOCATION SECTION  */
.location__container {
  display: grid;
  gap: 2rem 0;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.location__image img {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: 1rem;
  border-radius: 2rem;
}

.location__info .section__header {
  margin-bottom: 2rem;
}
/* .location__info h2 {
    font-size: 2.3rem;
} */

.location__info p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: rgb(98, 98, 98);
  text-align: justify;
  /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397); */
}

.location__btn .btn {
  background-color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.location__btn .btn:hover {
  background-color: transparent;
  box-shadow: 0 0 20px var(--primary-color);
}

/*! SLIDER SECTION */
/* .select__container {
    padding-top: 5rem;
    margin-bottom: 5rem;
    background-image: url("./img/header-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.select__container .section__header {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 4rem;
    text-align: center;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    max-width: 900px;
}

.select__card img {
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.5));
}

.select__info {
    max-width: 600px;
    margin-inline: auto;
    display: none;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.select__card.show__info .select__info {
    display: flex;
}

.select__info__card {
    text-align: center;
}

.select__info__card > span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 15px;
    font-size: 2.2rem;
    color: var(--text-black);
    background-color: var(--text-white);
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.select__info__card h4 {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-black);
}

.select__info__card h4 span {
    font-size: 0.9rem;
    color: var(--text-light);
}

.select__form {
    max-width: 750px;
    margin-inline: auto;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--text-white);
    transform: translateY(50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.select__price {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    color: var(--text-light);
}

.select__price span {
    font-size: 3rem;
    line-height: 3rem;
    color: var(--text-dark);
}

.select__price span:not(#select-price) {
    font-weight: 100;
}

.select__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.select__btns .btn {
    min-width: 140px;
}

.select__btns .btn:nth-child(2) {
    color: var(--text-white);
    background-color: var(--primary-color);
} */

.select__container {
  padding-top: 5rem;
  margin-bottom: 5rem;
  /* background-image: url("./img/header-bg.png"); */
  /* background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.select__container .section__header {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 4rem;
  text-align: center;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  max-width: 900px;
}

.select__card img {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 2rem;
  /* filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5)); */
}

.select__info {
  max-width: 600px;
  margin-inline: auto;
  display: none;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.select__card.show__info .select__info {
  display: flex;
}

.select__info__card {
  text-align: center;
}

.select__info__card > span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 15px;
  font-size: 2.5rem;
  color: var(--text-black);
  background-color: var(--text-white);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.select__info__card h4 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-black);
}

.select__info__card h4 span {
  font-size: 1.1rem;
  color: var(--text-black);
}

.select__form {
  max-width: 700px;
  margin-inline: auto;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: var(--text-white);
  transform: translateY(50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.select__price {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 300;
  color: var(--text-black);
}

.select__price span {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--text-black);
}

.select__price span:not(#select-price) {
  font-weight: 700;
}

.select__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.select__btns .btn {
  min-width: 140px;
}

.select__btns .btn:nth-child(2) {
  color: var(--white);
  background-color: var(--primary-color);
}

/* ! STORY SECTION */
.story__container .section__header {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 4rem;
  text-align: center;
}

.story__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 1rem;
}

.story__date {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--text-black);
}

.story__date span {
  padding-right: 10px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 2.5rem;
  border-right: 2px solid var(--text-black);
}

.story__date div p {
  margin-bottom: 0;
  font-weight: 300;
  color: var(--text-black);
}

.story__card h4 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 2rem;
  color: var(--text-black);
}

.story__card p {
  margin-bottom: 2rem;
  font-weight: 200;
  color: var(--text-gray);
}

.story__card img {
  max-width: 500px;
}

/* BANNER SECTION */
.banner__container {
  padding-block: 5rem;
  overflow: hidden;
}

.banner__wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8rem;
  animation: scroll 45s linear infinite;
}

.banner__wrapper img {
  height: 100px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 4rem));
  }
}

/*! DOWNLOAD SECTION */

.download {
  position: relative;
  isolation: isolate;
  padding-inline: 1rem;
  overflow: hidden;
}
.download::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(50% - 5rem);
  background-color: var(--text-black);
  z-index: -1;
}

.download__container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary-color);
  /* border-radius: 1rem; */
}

.download__content {
  padding-block: 5rem;
}

.download__content .section__header {
  font-size: 4rem;
  margin-inline: 2rem;
  margin-bottom: 2rem;
  /* text-align: center; */
}

.download__links {
  /* display: flex;
   align-items: center;
  justify-content: space-around; 
  gap: 1rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-inline: 2rem;
  /* background-color: #15191d; */
}

.download__links img {
  /* max-width: 150px;
  margin-inline: 3rem; */
  width: 100%;
  height: auto;
  max-width: 180px;
  justify-self: center;
}

.download__image {
  /* display: none; */
  max-width: 500px;
  /* align-self: center; */
  /* background-color: #15191d; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.download__image img {
  /* align-self: center; */
  border-radius: 1rem;
}

/* NEWS SECTION */
.news {
  background-color: var(--text-black);
}

.news_container {
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.news_container .section__header {
  font-size: 3rem;
  line-height: 3.3rem;
  font-weight: 400;
  /* letter-spacing: -2px; */
  color: var(--text-white);
  /* text-align: center; */
}

.news_container form {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.news_container input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.75rem 0;
  font-size: 1rem;
  color: var(--text-white);
  background-color: transparent;
  border-bottom: 2px solid var(--text-light);
}

.news_container .btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: var(--primary-color);
}

.news_container .btn:hover {
  background-color: var(--text-white);
}

/*! FOOTER */
footer {
  background-color: var(--text-black);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;
  border-bottom: 1px solid var(--text-light);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-white);
  font-weight: 300;
}

.footer__links a:hover {
  color: var(--text-gray);
}

.footer__socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--text-white);
}

.footer__socials a {
  color: var(--text-white);
  border-radius: 0.7rem;
  padding: 8px;
  font-size: 1.3rem;
  border: 2px solid var(--text-white);
}

.footer__socials a:hover {
  color: var(--text-gray);
  border-color: var(--text-gray);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--text-light);
  text-align: center;
}

@media screen and (max-width: 1200px) {

  .location__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 4rem;
  }

  .location__info .section__header {
    text-align: center;
  }

  .location__info p {
    margin-inline: 4rem;
  }

  .location__btn {
    /* margin-inline: ; */
    /* align-self: center; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .story__grid {
    grid-template-columns: repeat(1, 1fr);
    /* justify-content: center;
    align-items: center;
    margin-inline: auto; */
  }

  .story__card {
    width: 50%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 950px) {
  .header__container h1 {
    font-size: 4rem;
  }

  .header__container input {
    font-size: 1rem;
  }

  .header__container input::placeholder {
    font-size: 0.9rem;
  }

  .select__card img {
    max-width: 600px;
  }

  .select__info__card > span {
    font-size: 1.5rem;
    padding: 10px 12px;
  }

  .select__info__card h4 {
    font-size: 1rem;
  }

  .select__info__card h4 span {
    font-size: 1rem;
  }

  .select__form {
    max-width: 500px;
  }

  .story__card {
    width: 60%;
  }

  /* .story__date {
    width: 100%;
  } */

  .download__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .download__content {
    padding-block: 2rem;
  }

  .download__content .section__header {
    font-size: 3rem;
    text-align: center;
  }

  .download__links img {
    max-width: 150px;
  }

  .download__image {
    max-width: 400px;
    margin-bottom: 1rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-inline: auto;
  }

  .download__image img {
    border-radius: 0.5rem;
  }

  .news_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .news_container .section__header {
    margin-inline: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
}

@media screen and (max-width: 750px) {
  .header__container h1 {
    /* max-width: 600px; */
    font-size: 3rem;
    line-height: 4rem;
  }
  .header__container form {
    max-width: 500px;
  }

  .section__container {
    padding: 5rem 1rem;
  }

  .section__header {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  .range__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .location__info p {
    margin-inline: 1rem;
  }

  .select__form {
    max-width: 460px;
  }

  .story__card {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .header__container h1,
  .range__container .section__header,
  .location__info .section__header,
  .select__container .section__header,
  .story__container .section__header,
  .download__content .section__header,
  .news_container .section__header {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.5rem;
  }

  /* .range__container .section__header {
    font-size: 2.5rem;
    font-weight: 600;
  } */

  .range__card__info h4 {
    font-size: 2rem;
  }

  .range__card__info a {
    padding: 0px 3px;
    font-size: 1.5rem;
  }

  .location__image img {
    max-width: 400px;
    border-radius: 1rem;
  }
  /* 
  .location__info .section__header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.5rem;
  } */

  .select__container {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  .swiper-slide {
    max-width: 500px;
  }

  .select__card img {
    max-width: 420px;
  }

  .select__info {
    max-width: 400px;
  }

  .select__info__card > span {
    font-size: 1.2rem;
    padding: 5px 6px;
  }

  .select__info__card h4 {
    font-size: 1rem;
    font-weight: 300;
  }

  .select__form {
    max-width: 350px;
    gap: 1rem;
  }

  .select__price {
    gap: 1rem;
  }

  .select__price span {
    font-size: 2rem;
  }

  .story__card {
    width: 90%;
  }

  .banner__wrapper {
    gap: 4rem;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-50% - 1rem));
    }
  }

  .download {
    padding-inline: 0.5rem;
  }

  /* .download::before {
    height: auto;
  } */

  .download__container {
    padding: 0 0.5rem;
  }
}
